*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(21, 6, 29);
    color:#fff;
    min-height:100vh;
}

/* ================= NAVBAR ================= */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:28px;
    font-weight:800;
    
}

.logo span{
    color:#c14bff;
}

.nav-links{
    display:flex;
    gap:35px;
    background:rgba(255,255,255,0.05);
    padding:12px 30px;
    border-radius:40px;
    backdrop-filter: blur(10px);
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size: 19px;
    font-weight:400;
    transition:0.3s;
}

.nav-links a:hover{
    color:#c14bff;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.contact-btn{
    padding:10px 25px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,0.2);
    text-decoration:none;
    color:#fff;
    transition:0.3s;
}

.contact-btn:hover{
    background:#c14bff;
    border:none;
}

/* ================= HERO ================= */

.hero{
    text-align:center;
    padding:80px 20px;
    max-width:900px;
    margin:auto;
}

.profile-img{
    width:120px;
    height:120px;
    margin:auto;
    border-radius:10%;
    overflow:hidden;
    margin-bottom:20px;
}

.profile-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero h4{
    font-weight:400;
    margin-bottom:15px;
}

.hero h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:65px;
    line-height:1.2;
    margin-bottom:25px;
}

.hero p{
    color:#ccc;
    font-size:18px;
    line-height:1.6;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn-primary{
    padding:15px 35px;
    border-radius:50px;
    background:linear-gradient(45deg,#c14bff,#ff8c42);
    text-decoration:none;
    color:#fff;
    font-weight:500;
    transition:0.3s;
}

.btn-primary:hover{
    transform:scale(1.05);
}

.btn-outline{
    padding:15px 35px;
    border-radius:50px;
    border:1px solid rgba(255,255,255,0.3);
    text-decoration:none;
    color:#fff;
    transition:0.3s;
}

.btn-outline:hover{
    background:rgba(255,255,255,0.1);
}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

    .nav-links{
        display:none;
    }

    .hero h1{
        font-size:40px;
    }

}