*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background:#f4f6f9;
    color: white;
    background-color: rgb(21, 6, 29);
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:28px;
    font-weight:800;
    
}

.logo span{
    color:#c14bff;
}

.nav-links{
    border: 1px solid white;
    display:flex;
    gap:35px;
    background:rgba(255,255,255,0.05);
    padding:12px 30px;
    border-radius:40px;
    backdrop-filter: blur(10px);
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    font-size: 17px;
    font-weight:400;
    transition:0.3s;
}

.nav-links a:hover{
    color:#c14bff;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.contact-btn{
    padding:10px 25px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,0.2);
    text-decoration:none;
    color:#fff;
    transition:0.3s;
}

.contact-btn:hover{
    background:#c14bff;
    border:none;
}

/* Section */

.about{
    padding:80px 8%;
}

/* Title */

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:38px;
    font-weight:600;
}

.underline{
    width:60px;
    height:3px;
    background:#0d9488;
    margin:15px auto;
}

.section-title p{
    color:#ffffff;
    max-width:700px;
    margin:auto;
}

/* Layout */

.about-container{
    display:flex;
    gap:60px;
    align-items:center;
}

/* Image */

.about-img img{
    width:100%;
    max-width:500px;
    border-radius:8px;
}

/* Content */

.about-content h3{
    font-size:28px;
    font-weight:600;
    margin-bottom:15px;
}

.about-desc{
    font-style:italic;
    color:#ffffff;
    margin-bottom:25px;
}

/* Info Grid */

.info-grid{
    display:flex;
    gap:50px;
    margin-bottom:30px;
}

.info-grid p{
    margin-bottom:15px;
    color:#ffffff;
}

.info-grid span{
    color:#0d9488;
    font-weight:bold;
    margin-right:6px;
}

/* Footer Text */

.about-footer{
    color:#ffffff;
    line-height:1.7;
}

/* Responsive */

@media(max-width:992px){
    .about-container{
        flex-direction:column;
    }

    .info-grid{
        flex-direction:column;
        gap:10px;
    }

    .about-img img{
        max-width:100%;
    }
}